<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}" lang="vi">

<head>
    <title>Danh sách tài khoản người dùng</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/pagination/simplePagination.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách user</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add-new-user">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Thêm tài khoản</span>
        </button>

        <a role="button" class="btn btn-info" href="/admin/users">
            <span class="fas fa-redo-alt" style="margin-right:0.5rem;"></span>
            <span>Refresh</span>
        </a>
        <button type="button" class="btn btn-secondary" id="btn-search">
            <span class="fas fa-search" style="margin-right:0.5rem;"></span>
            <span>Tìm kiếm</span>
        </button>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="table-responsive">
                        <!-- Table data -->
                        <form method="GET" id="search-form">
                            <input type="hidden" value="1" name="page" id="page">
                            <input type="hidden" th:value="${formSearch.getOrder()}" name="order" id="order">
                            <input type="hidden" th:value="${formSearch.getDirection()}" name="direction"
                                   id="direction">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr class="heading">
                                    <th style="width: 5%;"></th>
                                    <th style="width: 5%;">#ID</th>
                                    <th class="text-capitalize text-nowrap thuy-sort-area"
                                        style="width: 25%;" data-order="fullName">
                                        <span>Họ tên</span>
                                        <i class="fa fa-sort float-right" style="margin-top: 3px;"></i>
                                    </th>
                                    <th class="text-capitalize text-nowrap thuy-sort-area"
                                         data-order="email">
                                        <span>email</span>
                                        <i class="fa fa-sort float-right" style="margin-top: 3px;"></i>
                                    </th>
                                    <th class="text-capitalize text-nowrap" style="width: 10%;">role</th>
                                    <th class="text-capitalize text-nowrap" style="width: 10%;">Status</th>
                                    <th style="width: 10%;"></th>
                                </tr>
                                <tr class="heading-search">
                                    <th></th>
                                    <th>
                                        <input type="text" name="id"
                                               class="form-control thuy-search-input"
                                               th:value="${formSearch.id}"
                                               aria-label="">
                                    </th>
                                    <th>
                                        <input type="text" name="fullName"
                                               th:value="${formSearch.fullName}"
                                               class="form-control thuy-search-input"
                                               aria-label="">
                                    </th>
                                    <th>
                                        <input type="text" name="email"
                                               th:value="${formSearch.email}"
                                               class="form-control thuy-search-input"
                                               aria-label="">
                                    </th>
                                    <th>
                                        <select name="role" class="form-control thuy-search-select" aria-label="">
                                            <option value="" th:selected="${formSearch.getRole == null}">Tất cả</option>
                                            <option th:if="${identity.role == 'ADMIN'}"
                                                    value="ADMIN"
                                                    th:selected="${formSearch.getRole == 'ADMIN'}">
                                                ADMIN
                                            </option>
                                            <option th:if="${identity.role == 'ADMIN'}"
                                                    value="EMPLOYEE"
                                                    th:selected="${formSearch.getRole == 'EMPLOYEE'}">
                                                EMPLOYEE
                                            </option>
                                            <option value="USER" th:selected="${formSearch.getRole == 'USER'}">USER
                                            </option>
                                        </select>
                                    </th>
                                    <th>
                                        <select name="status" class="form-control thuy-search-select" aria-label="">
                                            <option value="" th:selected="${formSearch.status == null}">Tất cả</option>
                                            <option value="OPEN"
                                                    th:selected="${formSearch.status == 'OPEN'}">
                                                OPEN
                                            </option>
                                            <option value="CLOSED"
                                                    th:selected="${formSearch.status == 'CLOSED'}">
                                                CLOSED
                                            </option>
                                            <option value="RESOLVE"
                                                    th:selected="${formSearch.status == 'RESOLVE'}">
                                                RESOLVE
                                            </option>
                                            <option value="REOPEN"
                                                    th:selected="${formSearch.status == 'REOPEN'}">
                                                REOPEN
                                            </option>
                                        </select>
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="list-user">
                                <th:block th:each="user, index : ${users.content}">
                                    <tr th:data-id="${user.id}">
                                        <td th:text="${index.count}"></td>
                                        <td th:text="${user.id}"></td>
                                        <td th:if="${user.isDeleted}"
                                            class="is-deleted text-capitalize text-nowrap"
                                            th:text="${user.getFullName()}"></td>
                                        <td th:unless="${user.isDeleted}" class="text-capitalize text-nowrap"
                                            th:data-id="${user.id}" th:text="${user.getFullName()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td th:if="${user.isDeleted}"
                                            class="is-deleted text-capitalize text-nowrap"
                                            th:text="${user.getRole()}"></td>
                                        <td th:unless="${user.isDeleted}" class="text-capitalize text-nowrap"
                                            th:text="${user.getRole()}"></td>
                                        <td th:text="${user.status}"></td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-view-edit__user" th:data-id="${user.id}">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button th:if="${identity.role == 'ADMIN'}"
                                                    type="button" class="btn btn-confirm-delete__user"
                                                    th:data-id="${user.id}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </form>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination" id="pagination"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal add new user-->
    <div class="modal fade" id="modal-add-new-user" tabindex="-1" role="dialog" aria-labelledby="modalAddNewUser"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-add__user">
                        <div class="form-group">
                            <label class="required-label" for="full-name--new">Họ tên</label>
                            <input name="fullName" required
                                   type="text" minlength="2" maxlength="255"
                                   class="form-control" id="full-name--new">
                            <span class="invalid-feedback" id="invalid-feedback__fullName--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="required-label" for="username--new">Tên tài khoản</label>
                            <input name="username" required type="text" placeholder="Username" class="form-control"
                                   id="username--new">
                            <span class="invalid-feedback" id="invalid-feedback__username--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="required-label" for="email--new">Email</label>
                            <input name="email" required type="email" class="form-control" id="email--new">
                            <span class="invalid-feedback" id="invalid-feedback__email--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="" for="phone--new">SĐT</label>
                            <input name="phone" required
                                   type="tel" pattern="0[1-9][0-9]{8}"
                                   class="form-control"
                                   id="phone--new">
                            <span class="invalid-feedback" id="invalid-feedback__phone--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="" for="address--new">Địa chỉ</label>
                            <input name="address" minlength="5" maxlength="511" required type="text"
                                   class="form-control" id="address--new">
                            <span class="invalid-feedback" id="invalid-feedback__address--new"></span>
                        </div>
                        <div class="form-group">
                            <label class="required-label min-w-20 mr-1">Role</label>
                            <div th:if="${identity.role == 'ADMIN'}" class="form-check form-check-inline">
                                <input name="role" value="ADMIN" required
                                       id="role-admin--new" class="form-check-input" type="radio">
                                <label class="form-check-label" for="role-admin--new">ADMIN</label>
                            </div>
                            <div th:if="${identity.role == 'ADMIN'}" class="form-check form-check-inline">
                                <input name="role" value="EMPLOYEE" required
                                       id="role-employee--new" class="form-check-input" type="radio">
                                <label class="form-check-label" for="role-employee--new">EMPLOYEE</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="role" value="USER" required
                                       id="role-user--new" class="form-check-input" type="radio">
                                <label class="form-check-label" for="role-user--new">USER</label>
                            </div>
                            <div class="">
                                <span class="invalid-feedback" id="invalid-feedback__role--new"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required-label min-w-20 mr-1">Status</label>
                            <div class="form-check form-check-inline">
                                <input name="status" value="OPEN" required
                                       id="status-open--new" class="form-check-input" type="radio">
                                <label class="form-check-label" for="status-open--new">OPEN</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="status" value="CLOSED" required th:disabled="${identity.role != 'ADMIN'}"
                                       id="status-closed--new" class="form-check-input" type="radio">
                                <label class="form-check-label" for="status-closed--new">CLOSED</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="status" value="RESOLVE" required
                                       id="status-resolve--new" class="form-check-input" type="radio">
                                <label class="form-check-label" for="status-resolve--new">RESOLVE</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="status" value="REOPEN" required
                                       id="status-reopen--new" class="form-check-input" type="radio">
                                <label class="form-check-label" for="status-reopen--new">REOPEN</label>
                            </div>
                            <div class="">
                                <span class="invalid-feedback" id="invalid-feedback__status--new"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="note--new">Note</label>
                            <textarea name="note"
                                      minlength="5"
                                      maxlength="511"
                                      required type="text"
                                      class="form-control"
                                      id="note--new">
                            </textarea>
                            <span class="invalid-feedback" id="invalid-feedback__note--new"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary btn-add__user--new" form="form-add__user">Thêm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update user-->
    <div class="modal fade" id="modal-update-user" tabindex="-1" role="dialog" aria-labelledby="modalUpdateUser"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-update-user">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete user-->
    <div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUser"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="d-none" hidden id="delete-user-id">
                    <span>Bạn chắc chắn muốn xóa user?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger btn-delete-user">Xóa</button>
                </div>
            </div>
        </div>
    </div>

</main>

<th:block id="js-resources">
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/pagination/jquery.simplePagination.js}"></script>
    <script type="text/javascript" th:src="@{/adminlte/dist/js/table.js}"></script>
    <script th:inline="javascript">
        var order, page, direction;

        $(function () {
            let vars = parseUrl();
            order = vars["order"] || ""
            page = vars["page"] || "1"
            direction = vars["direction"] || ""

            $(`#search-form input[name='order']`).val(order)
            $(`#search-form input[name='page']`).val(page)
            $(`#search-form input[name='direction']`).val(direction)

            let th = $('.heading').find(`[data-order='${order}']`)
            th.find('i').removeClass("fa-sort")
            if (direction === "asc")
                th.find('i').addClass("fas fa-sort-up")
            else
                th.find('i').addClass("fas fa-sort-down")

            pagination([[${totalPages}]], [[${currentPage}]]);
        });
    </script>

    <!-- main js -->
    <script th:src="@{/script/admin/manage-user.js}"></script>
</th:block>
</body>
</html>


