<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Survey Closed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{../static/css/base.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="errorContainer">
    <p class="errorMsg" th:utext="${error+'<br>Redirect you to home page...'}"></p>
</div>
<script>
    window.setTimeout(function (){
        window.location.href='/home';
    }, 3000)
</script>
</body>
</html>